<div class="row mt-2">
  <div class="col-lg-4 offset-lg-4">
    <div class="card bg-light mb-3" style="max-width: 25rem;">
      <div class="card-header text-center">AGREGAR SALA</div>
      <div class="card-body">
        <form action="">
          <input type="text" class="mt-1 form-control"  placeholder="Nombre de la sala">
          <small  class="form-text text-muted">Nombre es obligatorio.</small>
          <input type="text" class="mt-2 form-control"  placeholder="Descripcion de la sala">
          <small  class="form-text text-muted">No obligatorio.</small>
          <input type="text" class="mt-2 form-control"  placeholder="Ubicacion de la sala">
          <small  class="form-text text-muted">Ubicacion es obligatorio.</small>
          <input type="text" class="mt-2 form-control"  placeholder="Capacidad de la sala">
          <small  class="form-text text-muted">Capacidad es obligatorio.</small>
          <input type="text" class="mt-2 form-control"  placeholder="Identificador de la sala">
          <small  class="form-text text-muted"> No obligatorio.</small>
          <div class="row mt-2 text-center">
            <div routerLink ="/" class="col-lg-6">
              <button type="button" class="btn btn-secondary">Volver</button>
            </div>
            <div  class="col-lg-6">
              <button type="button" class="btn btn-primary">Aceptar</button>
            </div>
          </div>


        </form>

      </div>
    </div>
  </div>
</div>

